In [5]:
sum = 1 + 2
difference = 100 - 1
product =  3 * 4
quotient = 8 / 2
power = 2 ** 4
remainder = 3 % 2
print('Sum: {}'.format(sum))
print('Difference: {}'.format(difference))
print('Product: {}'.format(product))
print('Quotient: {}'.format(quotient))
print('Power: {}'.format(power))
print('Remainder: {}'.format(remainder))

""" This is the start of the comment
This is another line.
This is the last line in the comment. """

# This is a comment. Python ignores them.
# The following code:
#     Computes hosting costs.
#     Determines the duration of hosting
#         that can be purchased given a
#         budget.

Sum: 3
Difference: 99
Product: 12
Quotient: 4.0
Power: 16
Remainder: 1

' This is the start of the comment\nThis is another line.\nThis is the last line in the comment. '

In [9]:
integer = 42
float = 4.2

In [10]:
sum = 1 + 2
difference = 100 - 1
new_number = sum + difference
print(new_number)
print(sum / sum)
print(sum + 1)

102
1.0
4

In [17]:
sorta = 45
farter = 2.99
delta = 90
epsilon = 45.33

sum = sorta + farter + delta + epsilon
print(sum)

183.32

In [16]:
quantity = 3
quantity_string = '3'

print(quantity + int(quantity_string))

6

In [21]:
quantity_string = '3'
total = int(quantity_string) + 2
print(total)

5

In [26]:
quantity_string = '3'
quantity_float = float(quantity_string)
print(quantity_string)

TypeError: 'float' object is not callable

In [23]:
""" This is the start of the comment
This is another line.
This is the last line in the comment. """

' This is the start of the comment\nThis is another line.\nThis is the last line in the comment. '

In [27]:
""" This is the start of the comment
This is another line.
This is the last line in the comment. """

' This is the start of the comment\nThis is another line.\nThis is the last line in the comment. '

In [6]:
# Get the input from the user.
text = input('What would you like the cat to say? ')
# Determine the length of the input.
text_length = len(text)
# Make the border the same size as the input.
print('            {}'.format('_' * text_length))
print('          < {} >'.format(text))
print('            {}'.format('-' * text_length))

What would you like the cat to say? texas tammy
            ___________
          < texas tammy >
            -----------

In [8]:
my_name = input("What's your name? ")
length_of_my_name = len(my_name)

print("{}".format('_' * length_of_my_name))
print("{}".format(my_name))
print("{}".format('_' * length_of_my_name))

What's your name? Super Califragilusitgetsmealodcious
___________________________________
Super Califragilusitgetsmealodcious
___________________________________

In [42]:
budget = 918
hc_per_hour = 0.51
hc_cost_per_day = hc_per_hour * 24
hc_cost_per_month = hc_cost_per_day * 30

hc_per_20_servers = hc_cost_per_day * 20
hc_cost_20_per_month = hc_cost_per_month * 20

servers_in_a_month = budget - hc_cost_per_day

print("To operate the server per day is: " + str(hc_cost_per_day))
print("To operate the server per month is: " + str(hc_cost_per_month))
print("To operate 20 servers per day is: " + str(hc_per_20_servers))
print("To operate 20 servers per month is: " + str(hc_cost_20_per_month))
print("I can operate one server for " + str(servers_in_a_month) + " days.")

To operate the server per day is: 12.24
To operate the server per month is: 367.2
To operate 20 servers per day is: 244.8
To operate 20 servers per month is: 7344.0
I can operate one server for 905.76 days.