In [1]:
my_tuple = (1,2,3,4,5)
my_tuple [1] = 'z'

TypeError: 'tuple' object does not support item assignment

In [2]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1])

2

In [4]:
my_tuple = (1,2,3,4,5)
print(5 in my_tuple)

True

In [5]:
my_tuple = (1,2,3,4,5)
print(5 in my_tuple)

user = {
    (1,2): [1,2,3],
    'greet': 'hello',
    'age': 20
}

print(user[(1,2)])

True
[1, 2, 3]

In [8]:
my_tuple = (1,2,3,4,5)
x = my_tuple[0]
y = my_tuple[1]

print(new_tuple)

(2,)

In [9]:
#short hand version of above
x, y, z, *other = (1,2,3,4,5)

print(x)

1

In [10]:
#short hand version of above
x, y, z, *other = (1,2,3,4,5)

print(y)

2

In [11]:
#short hand version of above
x, y, z, *other = (1,2,3,4,5)

print(z)

3

In [12]:
#short hand version of above
x, y, z, *other = (1,2,3,4,5)

print(other)

[4, 5]

In [15]:
my_tuple = (1,2,3,4,5)

print(my_tuple.count(5))

1

In [16]:
my_tuple = (1,2,3,4,5, 5)

print(my_tuple.count(5))

2

In [17]:
my_tuple = (1,2,3,4,5, 5)

print(my_tuple.index(5))

4

In [18]:
my_tuple = (1,2,3,4,5, 5)

print(len(my_tuple))

6